node_modules/
.firebase/
android/app/google-services.json
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
*.log
*.aab
*.apk
output-metadata.json
*.jks
*.keystore
.idea/
.externalNativeBuild/
.cxx/
*.hprof
captures/
